<!DOCTYPE html>
<html xmlns:th="www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>City</H1> <br/>
<table>
<tr>
    <td>ID</td>
    <td th:field="${{city.id}}"></td>
</tr>
<tr>
    <td>Name</td>
    <td th:field="${{city.cityName}}"></td>
</tr>
<tr>
    <td>CountryCode</td>
    <td th:field="${{city.countryCode}}"></td>
</tr>
<tr>
    <td>Country Name</td>
    <td th:field="${{city.countryName}}"></td>
</tr>
<tr>
    <td>District</td>
    <td th:field="${{city.district}}"></td>
</tr>
<tr>
    <td>Population</td>
    <td th:field="${{city.population}}"></td>
</tr>
<tr>
    <td>Local weather</td>
    <td th:field="${{city.timeAndTemp.temp}}"></td>
</tr>
<tr>
    <td>Local Time</td>
    <td th:field="${{city.timeAndTemp.time}}"></td>
</tr>
</table>

</body>
</html>