<!DOCTYPE html>
<html xmlns:th="www.thymeLeaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<H1>City</H1>
	<br />
	<table>
		<tr>
			<td>ID</td>
			<td th:text="${{cityInfo.id}}"></td>
		</tr>
		<tr>
			<td>Name</td>
			<td th:text="${{cityInfo.cityName}}"></td>
		</tr>
		<tr>
			<td>CountryCode</td>
			<td th:text="${{cityInfo.countryCode}}"></td>
		</tr>
		<tr>
			<td>Country Name</td>
			<td th:text="${{cityInfo.countryName}}"></td>
		</tr>
		<tr>
			<td>District</td>
			<td th:text="${{cityInfo.district}}"></td>
		</tr>
		<tr>
			<td>Population</td>
			<td th:text="${{cityInfo.population}}"></td>
		</tr>
		<tr>
			<td>Local weather</td>
			<td th:text="${{cityInfo.timeAndTemp.temp}}"></td>
		</tr>
		<tr>
			<td>Local Time</td>
			<td th:text="${{cityInfo.timeAndTemp.time}}"></td>
		</tr>
	</table>
	<br />
	<br />
	<p>For a fabulous weekend get away for 2 to <span th:text="${{cityInfo.cityName}}"></span> sign up here.</p>
	<br />
	<form action="#" th:action="@{/cities/reservation}" method="post">
		<label for="email">Email</label>
			<input type="text" id="email" th:name="email"/><br /><br />
		<input type="radio" id="luxury" th:name="level" value="luxury">
			<label for="luxury">Luxury $1000</label><br /><br />
		<input type="radio" id="verygood" th:name="level" value="verygood">
			<label for="verygood">Very Good $500</label><br /><br />
		<input type="radio" id="good" th:name="level" value="good">
			<label for="good">Good $350</label><br /><br />
		<input type="hidden" th:name="city" th:value="${{cityInfo.cityName}}">
		<input type="submit" value="Submit"/>
	</form>
</body>
</html>